#champions-container{
    text-align: center;
}

.category-header-row{
    display: flex;
    text-align: center;
    padding: 0 50px;
}

.category{
    margin: 15px auto;
    font-weight: bold;
    width: 200px;
}

#category-input-form{
    text-align: center;
    padding: 0 50px;

}

.category-input{
    margin: 10px;
    text-align: center;
}

#champion-submit-button{
    margin: 10px;
}

.champion-row{
    display: flex;
    text-align: center;
    padding: 0 50px;
}

#remove-button-container{
    width: 100px;
    position: absolute;
}

#remove-button{
    margin: auto;
}