#champions-container{
    text-align: center;
}

#champions-header{
    margin: 20px auto;
}

.category-header-row{
    display: flex;
    text-align: center;
    /* padding: 0 50px; */
    margin: 0 auto;
    width: 80%
}

.category{
    margin: 15px auto;
    font-weight: bold;
    width: 200px;
}

.category-col{
    margin: 15px auto;
    font-weight: bold;
    width: 200px;
    font-size: 23px;
}

.category-input-row{
    margin: 40px;
}

#category-input-form{
    text-align: center;
    padding: 0 50px;

}

.category-input{
    margin: 10px;
    text-align: center;
}

#champion-submit-button{
    margin: 10px;
}

.row-1{
    display: flex;
    text-align: center;
    /* padding: 0 50px; */
    width: 80%;
    background-color: rgb(231, 231, 231);
    margin: 0 auto;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 15px;
}

.row-2{
    display: flex;
    text-align: center;
    /* padding: 0 50px; */
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    
}

#remove-button-container{
    width: 100px;
    position: absolute;
}

#remove-button{
    margin: auto;
}