#home-container{
    text-align: center;
}

#home-image{
    width: 70%;
}

#teams-header{
    font-weight: bold;
    margin: 10px;
}


#commissioner-header{
    font-weight: bold;
    margin: 10px;
}