#navbar-container{
    display: flex;
    background-color: black;
}


/* .link-tab{
    padding: 10px;
    background-color: black;
} */

/* .link-tab:hover{
    background-color: blue;
} */

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 auto;

}

#navbar-mobile-menu-open{
    text-align: right;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: left;
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    background-color: black;
}

#navbar-mobile-menu{
    text-align: right;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: left;
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    background-color: black;
}

.link-tab{
    font-size: 18px;
    /* text-transform: uppercase; */
    padding: 2rem 0;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s linear;
}



#mobile-nav-container{
    background-color: black;
}

#mobile-top-row{
    display: flex;
}

#mobile-header{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px
}

.hamburger-bars{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
  
#hamburger-stack{
    position: absolute;
    width: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
}