#navbar-container{
    display: flex;
    background-color: black;
}


.link-tab{
    padding: 10px;
    background-color: black;
}

.link-tab:hover{
    background-color: blue;
    /* transform: translateX(-100%); */
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 auto;

}


#navbar-mobile-menu{
    text-align: right;
}

#mobile-nav-container{
    background-color: black;
}

#mobile-top-row{
    display: flex;
}

#mobile-header{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px
}

.hamburger-bars{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
  
#hamburger-stack{
    width: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
}