#navbar-container{
    display: flex;
    background-color: black;
}

.link-tab{
    padding: 10px;
    background-color: black;
}

.link-tab:hover{
    background-color: blue;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 auto;

}